extends layout 

block content 
  div.message
      h3 #{message.title}
      if currentUser && currentUser.member
        p #{message.timestamp_formatted}
        p #{message.author.full_name}
      p #{message.text}

  form(method='post').delete-form
    p Are you sure you want to delete this message?
    input(type="hidden" name='messageid' value=message._id)
    button(type='submit') Delete Message